.calendar-popup {
  display: flex;

  #popup-button {
    color: black;
  }

  .popup-button-container {
    button {
      background: none;
      border: none;
    }
    margin-right: 8px;
    margin-left: 8px;
  }
}

.calendar-modal-background {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.67);
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;

  .calendar-container {
    position: relative;

    .react-calendar__tile--now {
      padding-bottom: 0px;
    }

    .go-today-container {
      left: 10px;
      top: 38px;
      position: absolute;
      .go-today-button {
        font-size: 10px;
      }
    }
  }
}
