.ck.ck-toolbar.ck-toolbar_floating > .ck-toolbar__items {
  width: 400px !important;
  flex-wrap: wrap !important;
  .ck-heading-dropdown {
    width: 131px;
  }
}

.daily-collection {
  border: 1px solid black;
  min-width: 420px;
  .weekend-row {
    width: 100%;
    display: flex;
    .column-one {
      width: 50%;
      border-right: 1px solid #888888;
    }
    .column-two {
      width: 50%;
    }
  }
}
