.daily-note {
  border-bottom: thin solid #888888;
  display: flex;
  flex-direction: row;

  .daily-note-date {
    flex: 0 1 auto;
    width: 90px;
    padding-left: 10px;

    &.disabled {
      border-right: 1px dashed #bbbbbb;
      background-color: #f0f0f0f0;
    }
    &.enabled {
      border-right: 1px dashed #b0b0b0;
      background-color: #ffffff;
    }

    .row-one {
      font-size: 14px;
      font-weight: 500;
    }

    .row-two {
      padding-left: 5px;
      .date-of-month {
        font-size: 25px;
        font-weight: 600;
      }
      .lock-container {
        color: #bbbbbb;
        display: flex;
        align-items: center;
        font-size: small;
        justify-self: flex-end;
      }

      width: 80%;
      display: flex;
      justify-content: space-between;
    }

    svg {
      cursor: pointer;
      vertical-align: sub;
    }
  }

  .daily-note-content-container {
    flex: 1 1 auto;

    .ck.ck-editor__editable_inline > :last-child {
      margin-bottom: 0px;
    }

    .ck.ck-editor__editable_inline > :first-child {
      margin-top: 0px;
    }

    div.ck-editor__editable_inline {
      height: 100%;
      overflow-y: auto;
      outline: none;
      font-size: 0.8em;

      p {
        margin-bottom: 0px;
      }

      ol {
        padding-inline-start: 12px;
      }

      ul {
        padding-inline-start: 12px;
      }

      &.ck-read-only {
        background-color: #f0f0f0f0;
        border-radius: 0px;
      }
    }
  }
}
