// @import '~antd/es/style/themes/index.less';
// @import '~antd/lib/style/themes/dark.less';
@import '~antd/dist/antd.less';
@primary-color: black;
@component-background: #f0f0f0;

.App-Container {
  display: flex;

  .ant-tabs-left-content {
    padding-left: 0px;
  }
  .ant-tabs-left {
    border-right: 1px solid black !important;
    padding-right: 1px;
    .ant-tabs-nav-wrap {
      background-color: @component-background;
      .ant-tabs-tab {
        margin-bottom: 0;

        span.anticon {
          margin-right: 0px;
        }

        &.ant-tabs-tab-active {
          background-color: #aaaaaa;
        }
      }

      .ant-tabs-ink-bar {
        display: none !important;
      }
    }
  }

  .ant-tabs-tabpane {
    border-left: 1px solid black;
    padding-left: 0px !important;
  }
}
